#about{
   .container{
    .about_img{
        width: 100%;
        text-align: end;
        img{
            width: 70%;
            margin-left: 0px;
        }
    }
   
           
           
 
   }
    
}