#main{
    .container{
        h1{
            color: #3c3451;
            font-size: 32px;
            font-weight: bold;
            line-height: 32px;
            margin-bottom: 16px;
            padding-bottom: 25px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            clear: both;
            font-family: 'Roboto Slab', serif;
        }
        h1::before{
            content: '';
         
            background-color: var(--colorText);
            height: 5px;
            border-radius: 5px;
            width: 5%;
            position: absolute;
            margin: 0 auto;
            bottom:  0px;
            left: 10px;
            right: 10px;
           
        }
    
        .row{
            display: flex;
            justify-content: space-around;

            .col-lg-2{
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 130px;
                
            }
        }
    
       
                img{
                    width: 80%;
                  
                }
    }
   
       
}

