#header {
  .lang{
    width: 40px;
      overflow: hidden;
    select{
      
      padding: 2px;
      background: none;
      border: none;
      font-size: 16px;
      color: var(--colorText);
      outline-style: none;


     
    }
   
  }
  background-size: cover;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;

  .navbar-expand-md {
    position: fixed;


    .MuiBadge-root {
      color: var(--colorText);
    }

    .slider {
      width: 50%;
      margin: 0 auto;
      float: right;

    }

    .slider img {
      margin-right: 60px;
    }

    .carousel-control-prev {
      display: none;
    }

    .carousel-caption {
      margin-left: 150px;
      color: var(--colorText);
      font-size: 24px;
      text-align: end;
    }

  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }


  .navbar-nav {
    margin: 0 auto;
  }

  .logo {

    width: 70px;
  }

  .nav-item {
    position: relative;
    border-right: dashed;
    margin-right: 15px;
  }

  .nav-item a::before {
    position: absolute;
    top: 98%;
    width: 0%;
    content: '';
    height: 2px;
    left: 0%;
    background-color: rgb(175, 175, 158);
    transition: 0.5s;
 
  }

  a:hover::before {
    width: 90%;

  }

  a:hover {
    color: var(--colorText);

  }



  .menu_header {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 100;
    padding: 0px 80px;
    transition: 2s;

  }

  .menu_header.active {

    z-index: 100;
    background-color: rgba(0, 0, 0);

  }

  .slider {
    width: 100%;
    background-size: cover;
    opacity: 0.95;

    img {
      width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .navbar-toggler {
    background-color: var(--colorText);
  }

  .box {
    padding: 0px 2px;
    position: relative;
    color: white;

    input {
      
      border-radius: 25px;

      background: #a4a4a4;
   
      border: none;



    }

    input:focus {
      box-shadow: none;
    }

    span {
      position: absolute;
      top: 2px;
      right: 11px;
      color: var(--colorText);
    }
  }
}

@media screen and (max-width: 600px) {

  #header{

   .box input {
     margin-top: 10px;
  }
  .menu_header {
    .container-fluid{
      flex-direction: row-reverse;
    }
   
  
    padding: 0px 10px;
    background-color: black;
  }

    .slider {
      margin-top: 83px;

    }
 

}

}