#header {

  background-size: cover;
  height: auto;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 20px;
  .navbar-expand-md {
    position: fixed;


    .MuiBadge-root {
      color: var(--colorText);
    }

    .slider {
      width: 50%;
      margin: 0 auto;
      float: right;

    }

    .slider img {
      margin-right: 60px;
    }

    .carousel-control-prev {
      display: none;
    }

    .carousel-caption {
      margin-left: 150px;
      color: var(--colorText);
      font-size: 24px;
      text-align: end;
    }

  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }


  .navbar-nav {
    margin: 0 auto;
  }

  .logo {

    width: 70px;
  }

  .nav-item {
    position: relative;
    border-right: dashed;
    margin-right: 15px;
  }

  .nav-item a::before {
    position: absolute;
    top: 98%;
    width: 0%;
    content: '';
    height: 2px;
    left: 0%;
    background-color: rgb(175, 175, 158);
    transition: 0.5s;
  }

  a:hover::before {
    width: 90%;

  }

  a:hover {
    color: var(--colorText);

  }

 

  .menu_header {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 100;
    padding: 0px 80px;
    transition: 2s;

  }

  .menu_header.active {

    z-index: 100;
    background-color: rgba(0, 0, 0);

  }

  .slider {
    width: 100%;
    background-size: cover;
    opacity: 0.9;

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .navbar-toggler {
    background-color: var(--colorText);
  }

  .box {
    padding: 0px 2px;
    position: relative;
    color: white;

    input {

      border-radius: 25px;
      color: white;
      background: rgba(42, 42, 45, 0.88);

      border: none;



    }

    input:focus {
      box-shadow: none;
    }

    span {
      position: absolute;
      top: -3px;
      right: 11px;
      color: var(--colorText);
    }
  }
}